<html>
    <head>
        <title>Patient Info</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <br>
        <table>
            <thead>
                <th>ID</th><th>Name</th><th>Birth Date</th><th>Address</th><th>phone</th>
            </thead>
            <tbody>
                {% for patient in patient_list %}
                <tr>
                    <td> {{ patient.patient_id }} </td>
                    <td> {{ patient.name }} </td>
                    <td> {{ patient.birth_date }} </td>
                    <td> {{ patient.address }} </td>
                    <td> {{ patient.phone_number }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>